---
import Layout from "../../layouts/Layout.astro";
import Seccion from "../../components/Seccion.astro";
import Tarjeta from "../../components/Tarjeta.astro";

interface Recurso {
  ruta: string;
  titulo: string;
  descripcion: string;
}

// todos los paths de los .astro files en este directorio
const todosAstros = Object.entries(
  import.meta.glob("./*.astro", { eager: true }),
);

// los archivos astros que tengan lo necesario convertidos en recursos interface
const recursosAutom = todosAstros.flatMap(([ruta, archivo]) => {
  if (!archivo.titulo || !archivo.descripcion) return []; // omite los que no cumplan con lo necesario
  return [
    {
      ruta: "/recursos" + ruta.replace(".", "").replace(".astro", ""),
      titulo: archivo.titulo,
      descripcion: archivo.descripcion,
    },
  ];
});

// Unimos los recursos automáticos con los manuales que queramos agregar
const todosRecursos = [
  ...recursosAutom,
  {
    // Aquí podríamos agregar recursos manualmente si es necesario
    ruta: "/recursos/temario",
    titulo: "Temario",
    descripcion: "Consulta el temario para la preparación de la olimpiada.",
  },
];
---

<Layout>
  <div>
    <h1>Recursos</h1>

    <section>
      {
        todosRecursos.map(({ ruta, titulo, descripcion }) => (
          <a href={ruta}>
            <Tarjeta hover>
              <h2>{titulo}</h2>
              <p>{descripcion}</p>
            </Tarjeta>
          </a>
        ))
      }
    </section>
  </div>
</Layout>

<style>
  div {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
  }

  h1 {
    color: var(--colorTexto);
    margin-bottom: 1rem;
  }

  section {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    padding: 1rem 1.5rem 2.5rem;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;

    mask-image: linear-gradient(
      to right,
      transparent,
      black 5%,
      black 95%,
      transparent
    );
  }

  section::-webkit-scrollbar {
    display: none;
  }

  a {
    flex: 0 0 85%;
    max-width: 350px;
    scroll-snap-align: center;
    text-decoration: none;
    color: var(--colorTexto);
    display: flex;
  }

  a :global(> *) {
    flex: 1;
  }

  @media (min-width: 640px) {
    div {
      padding: 2rem;
    }

    a {
      flex-basis: calc(50% - 0.5rem);
      scroll-snap-align: start;
    }
  }

  @media (min-width: 1024px) {
    a {
      flex-basis: calc(33.333% - 0.667rem);
    }
  }
</style>
